body {
    margin: 0;
    background: #1B244A;

}


.container {   
    display: flex;
    justify-content: space-around; 
}

h3 {
   color: #EEEEEE; 
   font-size: 40px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-bottom: 20px;
}

.score-wrapper {
    display: flex;
    justify-content: space-around;
}

#home-score {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #080001;
    border: 1px solid black;
    width: 155px;
    height: 120px;
    color: #f94f6d;
    font-family: cursed timer Ulil;
    font-size: 90px;
    line-height: 1;
}

#guest-score {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #080001;
    border: 1px solid black;
    width: 155px;
    height: 120px;
    color: #f94f6d;
    font-family: cursed timer Ulil;
    font-size: 90px;  
    line-height: 1;
}

.score-buttons {
    display: flex;
    justify-content: space-around; 
    margin: 26px 0px;
}

#add-home1 {
    width: 45px;
    height: 45px;
    margin-right: 9px;
    background: #1B244A;
    font-family: cursed timer Ulil;
    font-size: 18px;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
}

#add-home2 {
    margin-right: 9px;
    background: #1B244A;
    font-family: cursed timer Ulil;
    font-size: 18px;
     width: 45px;
    height: 45px;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
}
#add-home3 {
    background: #1B244A;
    font-family: cursed timer Ulil;
    font-size: 18px;
     width: 45px;
    height: 45px;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
}

#add-guest1 {
    width: 45px;
    height: 45px;
    margin-right: 9px;
    background: #1B244A;
    font-family: cursed timer Ulil;
    font-size: 18px;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
}

#add-guest2 {
    margin-right: 9px;
    background: #1B244A;
    font-family: cursed timer Ulil;
    font-size: 18px;
     width: 45px;
    height: 45px;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
}
#add-guest3 {
    background: #1B244A;
    font-family: cursed timer Ulil;
    font-size: 18px;
     width: 45px;
    height: 45px;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
}